.btn-blue {
  background-color: #C1121F; 
  padding: 15px 25px;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.btn-blue:hover {
  background-color: #780000;
}